<div class="page">
    <div class="navbar">
        <img href="#" class="Logo" src="assets/1.png">
            <div class="login"> 
                Already have a <img href="#" class="WistiaLogo" src="assets/2.png">account?
                
                <a style="text-decoration: none; color: #3EA9F5;
 " href="google.com"> Log in </a>
            </div>
    </div>
    <div class="content">
       <div class="contentText">
        <h1>Put your marketing videos to work</h1>
        <p>A brandable player, in-depth video analytics, lead gen tools, and video SEO.
        Wistia makes all your video marketing dreams come true.</p>
        </div>
    </div>
    <div class="signupForm">
        <div class="btnSignupForm">
            <button class="sign">
            <svg height="18" width="18" viewBox="0 0 18 18"><g fill="none" fill-rule="evenodd"><path d=" M17.64 9.205c0-.639-.057-1.252-.164-1.841H9v3.481h4.844a4.14 4.14 0 0 1-1.796 2.716v2.259h2.908c1.702-1.567 2.684-3.875 2.684-6.615z " fill="#4285F4"></path><path d=" M9 18c2.43 0 4.467-.806 5.956-2.18l-2.908-2.259c-.806.54-1.837.86 -3.048.86-2.344 0-4.328-1.584-5.036-3.711H.957v2.332A8.997 8.997 0 0 0 9 18z " fill="#34A853"></path><path d=" M3.964 10.71A5.41 5.41 0 0 1 3.682 9c0-.593.102-1.17.282-1.71V4.958H .957A8.996 8.996 0 0 0 0 9c0 1.452.348 2.827.957 4.042l3.007-2.332z " fill="#FBBC05"></path><path d=" M9 3.58c1.321 0 2.508.454 3.44 1.345l2.582-2.58C13.463.891 11.426 0 9 0A8.997 8.997 0 0 0 .957 4.958L3.964 7.29C4.672 5.163 6.656 3.58 9 3.58z " fill="#EA4335"></path></g></svg>
            <span style="text-indent: 20px;">Sign up with Google</span>
            </button>
        </div>
        <div class="lineOr">
            <hr/>
            <div class="or">or</div>
        </div>
        <div class="container">
            <div class="signupForm__row">
                <div class="SignupForm__input"> 
                    <label>First name</label>
                    <input type="text" placeholder="Lenny">
                </div>
                <div class="SignupForm__input"> 
                    <label>Last name</label>
                    <input type="text" placeholder="Lavigne">
                </div>
            </div>

            <div class="signupForm__row">
                <div class="SignupForm__input"> 
                    <label>Your work email</label>
                    <input type="text" placeholder="lemmy@wistia.com">
                </div>
                <div class="SignupForm__input"> 
                    <label>Job Title</label>
                    <input type="text" placeholder="Marketing Manager">
                </div>
                <div class="SignupForm__input"> 
                    <label>Set a password</label>
                    <input type="text" placeholder="8 characters or more!">
                </div>
            </div>
            <div class="signupForm__row">
                <div class="SignupForm__input"> 
                    <label>How did you first hear about Wistia?</label>
                    <select>
                        <option></option>
                        <option>Пункт 2</option> 
                        <option>Пункт 2</option> 
                    </select>
                </div>
            </div>
            <div class="signupForm__row_submit">
                <div class="SignupForm__submit"> 
                    <button>

                    Create account
                    </button>

                    
                </div>
                 <div class="SignupForm__terms"> By clicking this button, 
                 you agree to our 
                 <a href="#"> Terms of 
                 Service </a>
                 and 
                 <a href="#">Privacy Policy.</a>
                 </div>
            </div>
        </div>
    
    </div>
<div class="AccountSignup__faqs"> 
        <div class="split"> 
            <div class="split_content"> 
                <div class="Split__panel_padded"> 
                    <h3>Is there a catch?</h3>
                    <p>Nope, no funny business. All it takes to start your account is your work email address and a few other pieces of information. We don’t even ask for your credit card.</p>
                    <h3>Are there any limits?</h3>
                    <p>The Free Plan comes with 3 videos, 200 GB of <!-- --> <a href="https://wistia.com/support/account/bandwidth">bandwidth</a> per month, and enough storage to house those videos. It also comes with Wistia player branding. We’ve set our bandwidth limits so high that most Wistia users will never need to worry about it. In fact, 99% of businesses don’t even come close.</p>
                    <h3>Do I have to worry about you selling my email or data?</h3>
                    <p class="">No. Your contact information and private data are yours and yours alone. They’re safe with us. We’ll email you about product and company updates, but you can opt out at any time. Learn more about our<!-- --> <a href="https://wistia.com/privacy">Privacy Policy</a>.</p>
                </div>
                <div class="Split__panel_padded"> 
                    <h3>I’m ready to buy a paid plan right now. How should I go about doing that?</h3>
                    <p>No problem. Simply create your account, then navigate to Account <!-- -->&gt;<!-- --> Settings <!-- -->&gt;<!-- --> Purchase to buy a paid plan. Easy, right?</p>
                    <h3>How can I speak with someone from your sales team?</h3>
                    <p><a href="/pricing/getintouch">Our sales team is here to help you anytime</a>. We’re excited to talk all things video with you!</p>
                    <h3>Can I try out one of your advanced integrations?</h3>
                    <p>You sure can. After you create your account, navigate to Account <!-- -->&gt;<!-- --> Settings <!-- -->&gt;<!-- --> Integrations and follow the instructions on the page.</p>
                    <h3>I have other questions! How can I get in touch with Wistia?</h3>
                    <p><a href="/pricing/getintouch">Feel free to get in touch</a>. We’ll be happy to clarify anything, or just help you get up and running with your new account.</p>



                </div>
            </div>
        </div>
    </div>
<footer>
    <div class="footer">
        <div class="footer_social">
            <p style="font-size: 30px;">Wistia creates video software for growing businesses.</p>
            
            <div class="social_hide">
            <p>Follow us:
            <a href="#"></a>
            <a href="#">LinkedIn</a>
            <a href="#">Twitter</a> 
            <a href="#">Instagram</a>
            </p>
            </div>
        </div>
        <div class="footer__navigation">
            <div class="navigation_colum">
                <div class="footer_navigation_column">
                    <svg height="21" preserveAspectRatio="xMinYMid slice" style="height:21px;width:22.05px" viewBox="0 0 486 128" class="jsx-1124597497 WistiaLogo"><g opacity="1" transform="scale(1.55) translate(-20 -22)" class="jsx-1124597497 WistiaLogo--swoopies"><path d=" M104.5,43.8c1.8-10.8-4.3-13.8-4.3-13.8s0.3,8.8-15.9,10.7c-14.4,1.7 -62.5,0.4-62.5,0.4s0,0,15.5,17.8c4.2,4.8,6.4,5.4,11.1,5.7c4.7,0.3 15.1,0.2,22.2-0.3c7.7-0.6,18.7-3.1,26.1-8.9C100.4,52.4,103.7,48.3 104.5,43.8z " fill="#53BBFF" class="jsx-1124597497"></path><path d=" M105.5,55c0,0-1.9,3.9-11.6,10c-4.1,2.6-12.7,5.4-23.7,6.4c-6,0.6-16.9 0.1-21.6,0.1c-4.7,0-6.9,1-11.1,5.8 C21.7,94.9,21.7,94.9,21.7,94.9s 5.4,0,9.5,0c4.1,0,29.7,1.5,41-1.6C109.1,83.1,105.5,55,105.5,55z " fill="#148EE0" class="jsx-1124597497"></path></g><g fill="#363A45" opacity="0" transform="translate(110 0)" class="jsx-1124597497 WistiaLogo--text"><path d=" M210,29.8h9.4l-26.5,65.8h-2.1l-21.4-53.3l-21.6,53.3h-2l-26.4-65.8h 9.4l18,45.1L165,29.8h8.9l18.3,45.1L210,29.8z " transform="translate(169 63) scale(0 1) translate(-169 -63)" class="jsx-1124597497"></path><path d="M231.5,29.8h9.4v65.5h-9.4V29.8z" transform="translate(236 63) scale(0 1) translate(-236 -63)" class="jsx-1124597497"></path><path d=" M276.4,67.8l-7.1-4.3c-4.5-2.7-7.6-5.4-9.5-8.1c-1.9-2.6-2.8-5.7-2.8 -9.1c0-5.2,1.8-9.3,5.4-12.6c3.6-3.2,8.2-4.8,13.9-4.8c5.5,0,10.5,1.5 15,4.6v10.6c-4.7-4.5-9.8-6.8-15.2-6.8c-3.1,0-5.6,0.7-7.5,2.1c-2,1.4 -3,3.2-3,5.4c0,2,0.7,3.8,2.2,5.5c1.5,1.7,3.8,3.5,7,5.4l7.2,4.2c8,4.8 12,10.8,12,18.2c0,5.2-1.8,9.5-5.3,12.8c-3.5,3.3-8.1,4.9-13.7,4.9c -6.5,0-12.4-2-17.7-6V78.1c5.1,6.4,10.9,9.6,17.6,9.6c2.9,0,5.4-0.8 7.3-2.5s2.9-3.7,2.9-6.1C285.1,75.2,282.2,71.4,276.4,67.8z " transform="translate(276 62) scale(0 1) translate(-276 -62)" class="jsx-1124597497"></path><path d="M303.4,29.7h54.7V38h-22.8v57.2h-9.4V38h-22.5V29.7z" transform="translate(331 62) scale(0 1) translate(-331 -62)" class="jsx-1124597497"></path><path d="M371.9,29.8h9.4v65.5h-9.4V29.8z" transform="translate(377 63) scale(0 1) translate(-377 -63)" class="jsx-1124597497"></path><path d=" M421.5,29.4h6.6l29.4,65.9h-9.6l-8.7-19.4h-27.9L403,95.3h-9.6L421.5 29.4zM435.3,67.5l-10.6-23.7l-9.8,23.7H435.3z " transform="translate(425 62) scale(0 1) translate(-425 -62)"></path></g></svg>
                    <h3>Wistia For Marketing</h3>
                    <ul><li><a href="#">Features</a></li>
                    <li><a href="#">Pricing</a></li>
                    <li>
                        <a style="color:#3EA9F5" href="#">Create a free account
                        </a>
                    </li></ul>
                </div>
                <div class="footer_navigation_column">
                    <svg alt="Soapbox" height="20" preserveAspectRatio="xMidYMax slice" viewBox="0 0 8000 1000" width="80" class="jsx-3779653094 Soapbox Soapbox--trio "><circle cx="4000" cy="500" fill="#FFAB9D" opacity="1" r="500" transform="translate(4000 500) scale(0.96) translate(-5582 -480)" class="jsx-3779653094 Soapbox__shape Soapbox__shape--circle"></circle><rect fill="#FFDA97" height="1000" opacity="1" transform="translate(3500 500) scale(0.92) translate(-2326 -480)" width="1000" x="3500" y="0" class="jsx-3779653094 Soapbox__shape Soapbox__shape--square"></rect><polygon fill="#B7E7EE" opacity="1" points="4535,1000 3465,1000 4000,74.3" transform="translate(-300 -20)" class="jsx-3779653094 Soapbox__shape Soapbox__shape--triangle"></polygon><g fill="#D3DEE5" opacity="0" class="jsx-3779653094"><path d=" M64 716.8 252.2 646.4C295.1 737.6 369.8 801.1 458.4 801.1 545.6 801.1 603.7 767.9 603.7 701.6 603.7 633.9 520.7 607.7 419.7 575.9 274.4 528.9 102.8 475.1 102.8 273.4 102.7 124.3 225.9 0 441.8 0 620.3 0 740.7 105 778 241.7L589.8 302.5C563.5 243.1 517.8 198.9 430.7 198.9 354.6 198.9 313.1 226.5 313.1 277.6 313.1 327.3 387.8 350.8 477.8 381.2 624.4 428.2 814 489 814 703 814 890.8 654.9 1000 452.8 1000 264.6 1000 122.1 893.6 64 716.8Z " transform="translate(439 500) scale(0 1) translate(-439 -500)" class="jsx-3779653094 Soapbox__letter"></path><path d=" M3554.5 30H3982.6C4231.2 30 4319.5 186.6 4319.5 341.8C4319.5 485.9 4222.8 652.2 3982.6 652.2H3764.4V1000H3554.5V30ZM4101.3 341.8C 4101.3 293.3 4075.1 229.6 3990.8 229.6H3764.3V454H3990.8C4070.9 454 4101.3 394.4 4101.3 341.8Z " transform="translate(3937 515) scale(0 1) translate(-3937 -515)" class="jsx-3779653094 Soapbox__letter"></path><path d=" M5090.5 30C5329.6 30 5409.7 161.6 5409.7 293.3 5409.7 377.8 5382.1 455.4 5300.5 494.2 5402.8 533 5441.5 631.4 5441.5 709 5441.5 850.3 5354.4 1000 5108.5 1000H4634.5V30H5090.5ZM5195.5 316.8C5195.5 273.8 5180.3 226.7 5091.9 226.7H4844.6V408.2H5069.8C5156.8 408.3 5195.5 372.3 5195.5 316.8ZM5228.7 704.8C5228.7 653.5 5203.8 598.1 5080.8 598.1H4844.5V801.8H 5118.1C5202.4 801.8 5228.7 747.8 5228.7 704.8Z " transform="translate(5038 515) scale(0 1) translate(-5038 -515)" class="jsx-3779653094 Soapbox__letter"></path><path d=" M7489 693.8L7289.5 1000H7041.5L7365.7 501.1L7059.5 30H7307.5L7489 308.5L 7669.1 30H7918.5L7613.7 501.1L7936.5 1000H7688.5L7489 693.8 Z " transform="translate(7489 515) scale(0 1) translate(-7489 -515)"></path></g></svg>
                    <h3>Soapbox</h3>
                    <ul><li><a href="#">Features</a></li>
                    <li><a href="#">Pricing</a></li><li>
                    <a style="color:#FD9786" href="#">
                    Install for free</a></li></ul>
                </div>

            </div>
            <div class="navigation_colum">
                <div class="footer_navigation_column" >
                    <h3>Company</h3>
                    <ul><li><a href="#">Blog</a></li>
                    <li><a href="#">Team</a></li><li><a href="#">Careers</a></li>
                    <li><a href="#">Values</a></li>
                    <li><a href="#">Brand Assets</a></li>
                    <li><a href="#">Community</a></li></ul>
                </div>
                <div class="footer_navigation_column">
                    <h3>Support</h3>
                    <ul><li><a href="#">Documentation</a></li>
                    <li><a href="#">Developers</a></li><li><a href="#">Careers</a></li>
                    <li><a href="#">Troubleshooting</a></li>
                    <li><a href="#">Brand AssetsStatus</a></li>
                    <li><a href="#">Contact Support</a></li></ul>
                </div>
            </div>
        </div>

    </div>
<div class="social_show">
<svg class="Icon" style="color:#56BE8E;width:35px" fill="currentColor" viewBox="0 0 25 25"><g><circle cx="12.5" cy="12.5" r="12"></circle><g><path d=" M13.4,18.7v-5.6h1.9l0.3-2.2h-2.2V9.4c0-0.6, 0.2-1.1,1.1-1.1h1.2v-2c-0.6-0.1-1.1-0.1-1.7-0.1 c-1.7,0-2.8,1-2.8,2.9v1.6H9.3v2.2h1.9v5.6H13.4z" fill="white"></path><path d=" M13.5,18.7h-2.4v-5.6H9.2v-2.3h1.9V9.2c0-1.8, 1.1-3,2.9-3c0,0,0,0,0,0c0.6,0,1.1,0,1.7,0.1l0.1, 0v2.1h-1.2c-0.9,0-1,0.4-1,1v1.3h2.2l-0.3, 2.3h-1.9V18.7z M11.3,18.6h2.1V13h1.9l0.3-2.1h-2.2V9.4c0-0.6, 0.1-1.1,1.2-1.1h1.1V6.5c-0.5-0.1-1.1-0.1-1.6-0.1c-1.7, 0-2.8,1.1-2.8,2.8v1.7H9.4V13h1.9V18.6z" fill="white"></path></g></g></svg>
<svg class="Icon" style="color:#56BE8E;width:35px" fill="currentColor" viewBox="0 0 25 25"><g><circle cx="12.5" cy="12.5" r="12"></circle><g><g><g><path d=" M9.1,18.7H6.5v-8.3h2.6V18.7z M7.8,9.3C7,9.3, 6.3,8.6,6.3,7.8C6.3,7,7,6.3,7.8,6.3c0.8,0, 1.5,0.7,1.5,1.5C9.3,8.6,8.6,9.3,7.8,9.3z M18.7, 18.7h-2.6v-4c0-1,0-2.2-1.3-2.2c-1.3,0-1.5,1-1.5, 2.1v4.1h-2.6v-8.3h2.5v1.1h0c0.3-0.6,1.2-1.3, 2.4-1.3c2.6,0,3.1,1.7,3.1,3.9V18.7z" fill="white"></path></g></g></g></g></svg>
<svg class="Icon" style="color:#56BE8E;width:35px" fill="currentColor" viewBox="0 0 25 25"><g><circle cx="12.5" cy="12.5" r="12"></circle><g><path d=" M10,17.9c5,0,7.8-4.2,7.8-7.8c0-0.1,0-0.2,0-0.4c0.5-0.4,1-0.9, 1.4-1.4c-0.5,0.2-1,0.4-1.6,0.4c0.6-0.3,1-0.9,1.2-1.5c-0.5, 0.3-1.1,0.5-1.7,0.7c-0.5-0.5-1.2-0.9-2-0.9c-1.5,0-2.7,1.2-2.7, 2.7c0,0.2,0,0.4,0.1,0.6c-2.3-0.1-4.3-1.2-5.6-2.9C6.5,8,6.4,8.5, 6.4,9c0,0.9,0.5,1.8,1.2,2.3c-0.4,0-0.9-0.1-1.2-0.3c0,0,0,0,0, 0c0,1.3,0.9,2.4,2.2,2.7c-0.2,0.1-0.5,0.1-0.7,0.1c-0.2,0-0.3, 0-0.5,0c0.3,1.1,1.4,1.9,2.6,1.9c-0.9,0.7-2.1,1.2-3.4,1.2c-0.2, 0-0.4,0-0.7,0C7,17.5,8.5,17.9,10,17.9" fill="white"></path></g></g></svg>
<svg class="Icon" style="color:#56BE8E;width:35px" fill="currentColor" viewBox="0 0 25 25"><g><circle cx="12.5" cy="12.5" r="12"></circle><g><path d=" M12.5,7.1c1.8,0,2,0,2.7,0c0.6,0,1,0.1,1.2,0.2c0.3, 0.1,0.5,0.3,0.8,0.5c0.2,0.2,0.4,0.5,0.5,0.8c0.1, 0.2,0.2,0.6,0.2,1.2c0,0.7,0,0.9,0,2.7s0,2,0,2.7c0, 0.6-0.1,1-0.2,1.2c-0.1,0.3-0.3,0.5-0.5,0.8c-0.2, 0.2-0.5,0.4-0.8,0.5c-0.2,0.1-0.6,0.2-1.2,0.2c-0.7, 0-0.9,0-2.7,0s-2,0-2.7,0c-0.6, 0-1-0.1-1.2-0.2c-0.3-0.1-0.5-0.3-0.8-0.5c-0.2-0.2, -0.4-0.5-0.5-0.8c-0.1-0.2-0.2-0.6-0.2-1.2c0-0.7, 0-0.9,0-2.7s0-2,0-2.7c0-0.6,0.1-1,0.2-1.2c0.1-0.3, 0.3-0.5,0.5-0.8c0.2-0.2,0.5-0.4,0.8-0.5c0.2-0.1, 0.6-0.2,1.2-0.2C10.5,7.1,10.7,7.1,12.5,7.1 M12.5, 5.9c-1.8,0-2,0-2.7,0C9.1,6,8.6,6.1,8.2,6.2C7.7,6.4, 7.4,6.6,7,7C6.6,7.4,6.4,7.7,6.2,8.2C6.1,8.6,6,9.1, 5.9,9.8c0,0.7,0,0.9,0,2.7c0,1.8,0,2,0,2.7c0,0.7,0.1, 1.2,0.3,1.6C6.4,17.3,6.6,17.6,7,18c0.4,0.4,0.7,0.6, 1.2,0.8c0.4,0.2,0.9,0.3,1.6,0.3c0.7,0,0.9,0,2.7,0s2, 0,2.7,0c0.7,0,1.2-0.1,1.6-0.3c0.4-0.2,0.8-0.4,1.2-0.8c0.4-0.4, 0.6-0.7,0.8-1.2c0.2-0.4,0.3-0.9,0.3-1.6c0-0.7,0-0.9, 0-2.7s0-2,0-2.7c0-0.7-0.1-1.2-0.3-1.6C18.6,7.7,18.4, 7.4,18,7c-0.4-0.4-0.7-0.6-1.2-0.8c-0.4-0.2-0.9-0.3-1.6-0.3C14.5,5.9, 14.3,5.9,12.5,5.9L12.5,5.9z" fill="white"></path><path d=" M12.5,9.1c-1.9,0-3.4,1.5-3.4,3.4s1.5,3.4, 3.4,3.4s3.4-1.5,3.4-3.4S14.4,9.1,12.5, 9.1z M12.5,14.7c-1.2,0-2.2-1-2.2-2.2c0-1.2, 1-2.2,2.2-2.2c1.2,0,2.2,1,2.2,2.2C14.7, 13.7,13.7,14.7,12.5,14.7z" fill="white"></path><circle class="st1" cx="16" cy="9" r="0.8"></circle></g></g></svg>

</div>

    <div class="footer__copyright">
<p>©2001–2019 All rights reserved.
<a href="#">Privacy</a>
and
<a href="#">Terms</a>.</p>
</div>



</footer>

</div>
